body{
background-color:#FFFFFF;
font-family:   Arial, Helvetica, Sans-Serif, Verdana, Tahoma;
}
#Logo{
	margin:10px 0px 10px 0px;
}
#TitleBar {
background-color: #A89D1A;
color: #FFFFFF;
font-size: 25px;
text-align: center;
margin-bottom:20px;
}
#main{
	width:350px;
	margin:0 auto;
}
table{
	margin:0 auto;
	width:350px;
	margin-bottom:10px;
}
.advice{
	font-size:0.75em;
	text-align:right;
	padding-top:10px;
}
#submit{
	float:right;
}
input{
	padding:2px;
}
