<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4">
  <display-name>mycouncil</display-name>
  <context-param>
    <param-name>laganSystem</param-name>
    <param-value>test</param-value>
  </context-param>
  <context-param>
    <param-name>host</param-name>
    <param-value>http://selfserve.northampton.gov.uk</param-value>
  </context-param>
  <context-param>
    <param-name>errorEmailTo</param-name>
    <param-value>kwhite@northampton.gov.uk</param-value>
  </context-param>
  <context-param>
    <param-name>emailFrom</param-name>
    <param-value>mycouncil@northampton.gov.uk</param-value>
  </context-param>
  <context-param>
    <param-name>smsFrom</param-name>
    <param-value>kwhite@northampton.gov.uk</param-value>
  </context-param>
  <context-param>
    <param-name>smtpHost</param-name>
    <param-value>vscvex1</param-value>
  </context-param>
  <context-param>
    <param-name>auditEmailTo</param-name>
    <param-value>kwhite@northampton.gov.uk</param-value>
  </context-param>
  <context-param>
    <param-name>localDialCode</param-name>
    <param-value>01604</param-value>
  </context-param>
  <context-param>
    <param-name>textMessageFrom</param-name>
    <param-value>Northampton Borough Council</param-value>
  </context-param>  
  <context-param>
    <param-name>googleURLAPIKey</param-name>
    <param-value></param-value>
  </context-param>
  <context-param>
    <param-name>twitter-TEST-Consumer-Key</param-name>
    <param-value></param-value>
  </context-param>
  <context-param>
    <param-name>twitter-TEST-Consumer-Secret</param-name>
    <param-value></param-value>
  </context-param>
  <context-param>
    <param-name>twitter-TEST-Access-Token-Key</param-name>
    <param-value></param-value>
  </context-param>
  <context-param>
    <param-name>twitter-TEST-Access-Token-Secret</param-name>
    <param-value></param-value>
  </context-param>
  <context-param>
    <param-name>twitter-ALL-Consumer-Key</param-name>
    <param-value></param-value>
  </context-param>
  <context-param>
    <param-name>twitter-ALL-Consumer-Secret</param-name>
    <param-value></param-value>
  </context-param>
  <context-param>
    <param-name>twitter-ALL-Access-Token-Key</param-name>
    <param-value></param-value>
  </context-param>
  <context-param>
    <param-name>twitter-ALL-Access-Token-Secret</param-name>
    <param-value></param-value>
  </context-param>
  <servlet>
    <servlet-name>CreateCall</servlet-name>
    <servlet-class>uk.gov.selfserve.CreateLaganCase</servlet-class>
    <init-param>
      <param-name>bccEmailAddress</param-name>
      <param-value>kwhite@northampton.gov.uk</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>ViewCall</servlet-name>
    <servlet-class>uk.gov.selfserve.ViewLaganCase</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PayLink</servlet-name>
    <servlet-class>uk.gov.selfserve.LaganUpdateReceipt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PollingStationFinder</servlet-name>
    <servlet-class>uk.gov.selfserve.PollingStationFinder</servlet-class>
    <init-param>
      <param-name>electionsPhoneNumber</param-name>
      <param-value>01604 837111</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>PollingStationLoader</servlet-name>
    <servlet-class>uk.gov.selfserve.PollingStationLoader</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PollingStationLocationLoader</servlet-name>
    <servlet-class>uk.gov.selfserve.PollingStationLocationLoader</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ConfigFinder</servlet-name>
    <servlet-class>uk.gov.selfserve.ConfigFinder</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QnomyTest</servlet-name>
    <servlet-class>uk.gov.selfserve.QnomyTest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClosedCalls</servlet-name>
    <servlet-class>uk.gov.selfserve.ClosedLaganCases</servlet-class>
    <init-param>
      <param-name>enabled</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>checkEvery</param-name>
      <param-value>hour</param-value>
    </init-param>
    <init-param>
      <param-name>overrideCheckRestrictions</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>bccEmailAddress</param-name>
      <param-value>kwhite@northampton.gov.uk</param-value>
    </init-param>
    <init-param>
      <param-name>slaEmailAddress</param-name>
      <param-value>dhorton@northampton.gov.uk</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>SendMessage</servlet-name>
    <servlet-class>uk.gov.selfserve.SendMessage</servlet-class>
    <init-param>
      <param-name>test</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>testEmailAddress</param-name>
      <param-value>kwhite@northampton.gov.uk</param-value>
    </init-param>
    <init-param>
      <param-name>emailVerification</param-name>
      <param-value>@northampton.gov.uk</param-value>
    </init-param>
    <init-param>
      <param-name>emailFrom</param-name>
      <param-value>mycouncil@northampton.gov.uk</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>ModernGovScraper</servlet-name>
    <servlet-class>uk.gov.selfserve.ModernGovScraper</servlet-class>
    <init-param>
      <description>This is the URL for the ModernGov meetings page</description>
      <param-name>modernGovURL</param-name>
      <param-value>http://www.northamptonboroughcouncil.com/councillors/mgCalendarAgendaView.aspx</param-value>
    </init-param>
    <init-param>
      <description>Boolean to tell the serlvet if it needs to use a base URL if the meetings URL is relative</description>
      <param-name>useModernGovBaseURL</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <description>This is the base URL to use if the meetings URL is relative</description>
      <param-name>modernGovBaseURL</param-name>
      <param-value>http://www.northamptonboroughcouncil.com/councillors/ieListDocuments.aspx?</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>CreateTwitterEntry</servlet-name>
    <servlet-class>uk.gov.selfserve.CreateTwitterEntry</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BinRoundFinder</servlet-name>
    <servlet-class>uk.gov.selfserve.BinRoundFinder</servlet-class>
    <init-param>
      <param-name>phoneNumber</param-name>
      <param-value>0300 330 7000</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTwitterEntry</servlet-name>
    <url-pattern>/CreateTwitterEntry</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateCall</servlet-name>
    <url-pattern>/CreateCall</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewCall</servlet-name>
    <url-pattern>/ViewCall</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PayLink</servlet-name>
    <url-pattern>/PayLink</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PollingStationFinder</servlet-name>
    <url-pattern>/PollingStationFinder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PollingStationLoader</servlet-name>
    <url-pattern>/PollingStationLoader</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PollingStationLocationLoader</servlet-name>
    <url-pattern>/PollingStationLocationLoader</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConfigFinder</servlet-name>
    <url-pattern>/ConfigFinder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QnomyTest</servlet-name>
    <url-pattern>/QnomyTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendMessage</servlet-name>
    <url-pattern>/SendMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BinRoundFinder</servlet-name>
    <url-pattern>/BinRoundFinder</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>mycouncil.html</welcome-file>
  </welcome-file-list>    
</web-app>